/* *{
    box-sizing: border-box;
} */
.nav-container{
 
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.nav-contant{

    display: flex;
    gap: 50px;
   justify-content: space-evenly;
}

.nav-contant img{
    margin: auto;
    width: 80px;
    height: 40px;
}
.nav-contant h1{
    margin: auto;
    font-size: 50px;
    font-family: serif;
}

.span-color{
   color: #f7118b;
}
.nav-author {
    width: 50%;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
   
}
.nav-author a{
    text-decoration: none;
  font-size: 20px;
}
.icon-youtube{
 
    color: #F61C0D;
    font-size: 20px;
}
.icon-tiktoks{
   font-size: 20px;
}

/* banner styles */

.banner-container{
    display: flex;
    justify-content: space-around;
    background-color: #FFF;;
    width: 100%;
    height: 800px;
}
.banner-contant{
    background-image: url(/images/Group\ 14.png);
    width: 801px;
    height: 650px;
}
.banner-img{
    width: 750px;
    height: 650px;
   
}  

.banner-contant h2{
  padding-top: 80px;
color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.banner-contant h1{
margin: auto;
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.icon-author{
   width: 300px;
   display: flex;
   gap: 10px;
   justify-content:center;
   margin: auto;
   align-items: center;


}

.icon-author p{
    font-size: 20px;
    color: #534C64;
text-align: center;

}
.icon-play{
    color: #f7118b;
   
}
.icon-download{
    color: #f7118b;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 250px;
    
}
.primary{
    background-color: #f7118b;
    border-radius: 25px;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
     text-transform: uppercase;
     border: none;

}
.secondary{
    background: #4EC5F7;
    border-radius: 25px;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
     text-transform: uppercase;
     border: none;

}
/* gammer styles */
.gamer-section{
    display: flex;
    gap: 80px;
    justify-content: center;
 
   
    width: 100%;
    height: 500px;
  

}
.gamer-img{
    margin: auto;
    width: 50%;
    height: 400px;
    margin: auto;
}
.gamer-img img{
   margin-left: 50px;
    width: 500px;
    height: 400px;
}
.gamer-contant{
    width: 100%;
    text-align: right;
   
    margin-right: 100px;
    padding-right: 150px;
   
}
.gamer-contant h1{
    font-size: 45px;
  
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-contant p{
    text-align: right;
    margin-left: 250px;
    width: 400px;
    color: #534C64;
  
    font-size: 18px;
}
.gamer-btn{
    background-color: #F948B2;
    color: white;
   font-size: 18px;
   text-transform: uppercase;
   padding: 15px 30px;

  text-align: center;

 border-radius: 30px;
 border: none;

}
.gamer-span{
   
   font-size: 30px;
   color: #534C64;
}
.gamer-contant h2{
    
    font-size: 45px;
    color: #534C64;

}
/* online games styles */
.online-section{
    margin-bottom: 50px;
}
.online-section h1{
  font-size: 40px;
  text-align: center;
}
.online-section p{
    text-align: center;
    font-size: 16px;
}
.game-span{
    color: #e93f3fe3;
}
.grid-box{
    width: 900px;
    height: 100%;
   
    display: grid;
    /* justify-content: center; */
    align-items: center;
   grid-template-columns:  1fr 1fr  1fr 1fr;
   margin: auto;
align-items: center;
}
.grid-container{
    width: 100%;
    height: 1000%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.images{
    width: 200px;
    position: relative;
}
img{
    width: 100%;
    display: block;
    margin: auto;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(51, 51, 50, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
    opacity: 0.9;
}
.content h1{
    font-size: 35px;
    color: #f7118b;
    margin-bottom: 15px;
}
.fa-play{
    color: red;
}
/* download-section */
.download-section{
    width: 100%;
    height: 80%;
   
   
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
   
}
.download-author{

  margin-right: 50px;
  margin-bottom: 70px;
   
}
.play-span{
  color: #ec419c;
  font-weight: 700;
 
}
.download-author h1{
    text-align: right;
    font-size: 35px;
    color: #0B0223;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.download-author p{
    color: #534C64;
    font-weight: 400;
    font-size: 18px;
    width: 300px;
    text-align: right;
}
.download-img img{
    width: 80%;
    height: 80%;
    padding: 20px;
    position: sticky;
}
.small-img{
    width: 230px;
    height: 230px;
    position: relative;
    top: -150px;
    right: 90px;
}
/* carrear-section */
.carrear-section{
  
    width: 100%;
    height: 921px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);

}
.carrear-container{
    margin-top: 0px;
    display: flex;
   align-items: center;
 justify-content: center;
}
.carrear-contant {
   
    font-family: Work Sans;
 padding: 10px 15px;
}
.carrear-contant h1{
    font-size: 40px;
    color: white;
}
.description{
font-size: 14px;
 color: #FFF;
}
.carrear-section p{
    
    width: 500px;
    height: 110px;
}
.carrear-author{
     color: white;
    width: 400px;
    display: flex;
    /* justify-content: center; */
    font-size: 14px;
    /* color: white; */
}
.group-img{
    
   
    width: 40%;
    height: 80% ;
   
}
.group-img img{
    margin-top: 35px;
    /* margin-right: 50px; */
    width: 80%;
    height: 80%;

 
}
.group-btn{
    margin-top:10px;
    font-family: Work Sans;
    font-size: 18px;
    color: #f7118b;
    padding: 5px 13px;
    border-radius: 25px;
    border: none;
}
/* grid styles */
.grids-section{
    margin-bottom: 200px;
    width: 80%;
    height: 100%;
    padding: 5px 5px;
    margin: auto;
    height: 150px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
   
}
.grid-card{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    width: 190px;
    background-color: whitesmoke;
    border-radius: 35px;
   

}
.grid-card img{
    display: flex;
    width: 40px;
    height: 40px;
}

.grid-card:hover{
    border: 2px solid maroon;
    color: #ec419c;
  
}

/* footer styles */
.footer-section{
    background-color: #0B0223;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}
.fotter-title{
    
    width: 200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    padding-top: 50px;
    align-items: center;
    
   
}
.fotter-title h1{
    color: #FFF;
}
.fotter-title img{
    width: 60px;
    height: 30px;
   
}
.fotter-span{
    color: #FF42A5;
}

.footer-author{
    color: #FFF;
   
    width: 850px;
    margin: auto;
    font-size: 15px;
    justify-content: center;
    gap: 0px;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
}
.footer-icon{
    display: grid;
    width: 400px;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;

}
.fa-twitter{
    font-size: 30px;
    height: 40px;
    color: #FFF;
}
.fa-facebook{
    font-size: 30px;
    color: #1877F2;
  
}
.fa-youtube{
    font-size: 30px;
    color: #FF0000;
}
.fa-linkedin-in{

    color: white;
    font-size: 30px;
}
.fa-instagram{
    color: white;
    font-size: 30px;
}
.fa-apple{
   
    font-size: 30px;
    color: white; 
}
.footer-privacy{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #FFF;
    width: 650px;
    margin: auto;
    font-size: 18px;
    font-weight: 100;
}
.footer-description{

    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    margin: auto;
    width: 550px;
    text-align: center;
    padding: 15px;
    padding-bottom: 50px;

}